#test { color: black}
#test {
 color: red;
}
#test
{
    color: white
}#test { color: black}
#test {
 color: red;
}
#test
{
 color: white
} #test { color: black}
#test {
 color: red;
}
#test
{
 color: white
}
.test2{ color: #121211}
#test { color: black}
#test {
 color: red;
}
#test
{
    color: white
}#test { color: black}
#test {
 color: red;
}
#test
{
 color: white
} #test { color: black}
#test {
 color: red;
}
#test
{
 color: white
}
.test2{ color: #121211}
