#test { color: black}
#test {
    color: red;
}
#test
{
    color: white
}#test { color: black}
#test {
    color: red;
}
#test
{
    color: white
} #test { color: black}
#test {
    color: red;
}
#test
{
    color: white
}